
<!doctype html>
<html lang="en">
  <head>
    <script src="https://kit.fontawesome.com/001e60da99.js" crossorigin="anonymous"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
    <title>Cafe and wifi</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-expand-sm navbar-expand-md navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" href="{{url_for('home')}}">Cafe & Wifi</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('home')}}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('submit')}}">Add to our database</a>
    </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('cafes')}}">Explore our cafes!</a>
      </li>
      {% if current_user.is_anonymous %}
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('register')}}">Register</a>
        </li>
      {% endif %}
      <li class="nav-item active">
        {% if current_user.is_anonymous %}
          <a class="nav-link" href="{{url_for('login')}}">Login</a>
        {% else %}
          <a class="nav-link" href="{{url_for('logout')}}">Log Out</a>
        {% endif %}
      </li>
    </ul>
  </div>
</nav>
        {% block content %} {% endblock %}

    <footer>
        <div class="mt-5 pt-5 pb-5 footer">
<div class="container">
  <div class="row">
    <div class="col-lg-5 col-xs-12 about-company">
      <h2>Connect with us!</h2>
      <p class="pr-5 text-white-50">
          Follow us on our socials and find out about the latest addition of cafes!
      </p>
      <p>
          <a href="#"><i class="fa fa-facebook-square mr-1 icons"></i></a>
          <a href="#"><i class="fa fa-linkedin-square icons"></i></a>
          <a href="#"><i class="fa-brands fa-instagram icons"></i></a>
      </p>
    </div>
    <div class="col-lg-3 col-xs-12 links">
      <h4 class="mt-lg-0 mt-sm-3">Links</h4>
        <ul class="m-0 p-0">
          <li>- <a class="text-white-50" href="#">Lorem ipsum</a></li>
          <li>- <a class="text-white-50" href="#">Nam mauris velit</a></li>
          <li>- <a class="text-white-50" href="#">Etiam vitae mauris</a></li>
          <li>- <a class="text-white-50" href="#">Fusce scelerisque</a></li>
          <li>- <a class="text-white-50" href="#">Sed faucibus</a></li>
          <li>- <a class="text-white-50" href="#">Mauris efficitur nulla</a></li>
        </ul>
    </div>
    <div class="col-lg-4 col-xs-12 location">
      <h4 class="mt-lg-0 mt-sm-4">Location</h4>
      <p>Singapore, Singapore</p>
      <p class="mb-0"><i class="fa fa-phone mr-3"></i>(65) 9645 9000</p>
      <p><i class="fa fa-envelope-o mr-3"></i>admin@cafes-database.com</p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col copyright">
      <p class=""><small class="text-white-50">© 2023. All Rights Reserved.</small></p>
    </div>
  </div>
</div>
</div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
