.footer{
  background: #152F4F;
  color:white;

  .links{
    ul {list-style-type: none;}
    li a{
      color: white;
      transition: color .2s;
      &:hover{
        text-decoration:none;
        color:#4180CB;
        }
    }
  }
  .about-company{
    i{font-size: 25px;}
    a{
      color:white;
      transition: color .2s;
      &:hover{color:#4180CB}
    }
  }
  .location{
    i{font-size: 18px;}
  }
  .copyright p{border-top:1px solid rgba(255,255,255,.1);}
}

.icons {
    color: #4ABBEE;
}

.card-titles {
    background-color: #15ACB6;
}

.intro-row {
    text-align: center;
    padding: 1.5rem 0 1.5rem 0;
    background-color: #FFD700;
    border: 1px solid black;
}

.form-checkbox {
    height: 80%;
    width: 30%;
}